# This file is part of the Confluence Space Management Toolkit.
# Use this file to define your environment variables for the Confluence API.
#
# You can obtain an API token from:
# https://id.atlassian.com/manage-profile/security/api-tokens
#
# You cannot use your regular password for the API token.

# Confluence API Token
CONFLUENCE_API_TOKEN="secret token"

# Confluence API User (usually your email)
CONFLUENCE_API_USER="your email"
